:root {
  --primary-color: #cfba82;
  --primary-color-light: #ddcea7;
  --primary-color-mediun: #c19a5b;
  --primary-color-dark: #9f6900;

  --secondary-color: #063068;
  --secondary-color-light: #0063f9;
  --secondary-color-dark: #042653;

  --color-grey-light-1: #cccccc;
  --color-grey-light-2: #f0eeee;
  --color-grey-light-3: #f4f2f2;
  --color-grey-light-4: #f9f9f9;

  --color-grey-dark-1: #999999;
  --color-grey-dark-2: #777777;
  --color-grey-dark-3: #333333;
  --color-grey-dark-4: #34342e;

  --color-white: #fff;
  --color-black: #34342e;

  --gradient-primary-light: #dccb9b;
  --gradient-primary-dark: #ffce44;

  --gradient-secondary-light: #0063f9;
  --gradient-secondary-dark: #063068;
}
