.breve {
  max-width: 100vw;
  max-height: 100vh;
  color: var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-black),
    80%,
    var(--color-grey-dark-2)
  );
}
.breve-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

//Layout Principal
.breve-header {
  min-height: 5rem;

  padding: 0rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--logo {
  }
  //Ver as classes dos links
  &--link {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.breve-content {
  display: flex;
  padding: 0rem 9rem;
  flex-grow: 1;
}

.breve-content-left {
  width: 23%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &--bottom {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30rem;
    font-size: 3rem;
    text-transform: uppercase;
    &-embreve {
      padding: 1.5rem 0rem;
      text-align: right;
      margin-right: 1rem;
    }
    &-coming {
      padding: 1.5rem 0rem;
      text-align: left;
      margin-left: 1rem;
    }
    &-pronto {
      padding: 1.5rem 0rem;
      margin-right: 1rem;
      text-align: right;
    }
  }
}

.breve-content-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.center-superior {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &--ano {
    position: absolute;
    right: 10rem;
    bottom: 4rem;
    display: flex;
    font-family: "Playfair Display", serif;
    opacity: 0.8;
    letter-spacing: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4rem;
    font-size: 5rem;
  }
}
.center-inferior {
  margin-top: -3rem;
  min-height: 30rem;
  &--box {
    display: flex;
    justify-content: flex-end;
  }
  &--text {
    text-align: center;
    font-size: 4rem;
    opacity: 0.8;
    letter-spacing: 0.2rem;
  }
  &--box-assinatura {
    margin-top: -6rem;
    width: 45%;
  }
}

.breve-content-right {
  flex: 0 0 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breve-footer {
  color: var(--color-grey-light-3);
  height: 6rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-family: "GT America";
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    color: rgba(255, 255, 255, 0.6);
  }
}
.breve-procedimentos {
  width: 100%;

  min-height: 40rem;
  &--divisor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  &--lista-item {
    padding: 1rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.4rem;
  }
}
.divisor-linha--esquerda {
  flex: 1;
  background-color: var(--primary-color);
  height: 2px;
}
.divisor-texto--direita {
  margin-left: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.3rem;
  font-weight: 100;
  font-size: 1.3rem;
}
