.breve {
  width: 100wh;
  height: 100vh;
  color: var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-black),
    80%,
    var(--color-grey-dark-2)
  );
}
.breve-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

//Layout Principal
.breve-header {
  height: 5rem;
  background-color: var(--color-grey-light-4);
}

.breve-content {
  display: flex;
  flex-grow: 1;
  padding: 0rem 9rem;
}

.breve-content-left {
  width: 30rem;
  background-color: var(--color-grey-light-1);
}

.breve-content-center {
  flex-grow: 1;
}

.breve-content-right {
  width: 30rem;
  background-color: var(--color-grey-light-1);
}

.breve-footer {
  height: 6rem;
  background-color: var(--color-grey-light-3);
}
